schemas/vtm-mod-media-inventory.xsd

<?xml version='1.0'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' elementFormDefault='qualified'>

 <xs:annotation>
  <xs:documentation xml:lang='en-US'>
    Copyright 2024, Chris Josephes

    This work is licensed under the Creative Commons Attribution-ShareAlike
    4.0 International License.

    To view a copy of this license, visit
    http://creativecommons.org/licenses/by-sa/4.0/ or
    send a letter to
    Creative Commons
    PO Box 1866
    Mountain View, CA 94042, USA.
  </xs:documentation>
 </xs:annotation>

 <xs:annotation>
  <xs:documentation xml:lang='en-US'>
   Module for product inventory of physical media, and physical dimensions.
   Containing elements contain details on publisher, release date, dimensions and inventory.
  </xs:documentation>
 </xs:annotation>

 <xs:complexType name='ProductType'>
  <xs:sequence>
   <xs:group ref='ProductTypeGroup' minOccurs='1' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='SingleProductType'>
 </xs:complexType>

 <xs:group name='ProductTypeGroup'>
  <xs:choice>
   <xs:element name='audiocd' type='SingleProductType'/>
   <xs:element name='casette' type='SingleProductType'/>
   <xs:element name='record' type='SingleProductType'/>
   <xs:element name='dvd' type='SingleProductType'/>
   <xs:element name='bluray' type='SingleProductType'/>
   <xs:element name='bluray3d' type='SingleProductType'/>
   <xs:element name='hddvd' type='SingleProductType'/>
   <xs:element name='ultrahd' type='SingleProductType'/>
   <xs:element name='vhs' type='SingleProductType'/>
   <xs:element name='beta' type='SingleProductType'/>
  </xs:choice>
 </xs:group>

 <xs:complexType name='PIVideoDiskType'>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
  <xs:attribute name='type' type='xs:token' use='optional'/>
  <xs:attribute name='diometer' type='xs:float' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIVideoTapeType'>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIAudioDiscType'>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIAudioRecordType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element representing an audio vinyl record.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name='radius' type='PIAudioRecordDiameterType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='rpm' type='PIAudioRecordRPMType' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:simpleType name='PIAudioRecordDiameterType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Album diameter values.
   </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:positiveInteger'>
   <xs:enumeration value='7'/>
   <xs:enumeration value='10'/>
   <xs:enumeration value='12'/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name='PIAudioRecordRPMType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Album RPM values.
   </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:token'>
   <xs:enumeration value='33'/>
   <xs:enumeration value='33 1/3'/>
   <xs:enumeration value='45'/>
   <xs:enumeration value='78'/>
  </xs:restriction>
 </xs:simpleType>

 <xs:complexType name='PIPrintPageType'>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PICodeSheetType'>
  <xs:sequence>
   <xs:element name='service' type='xs:token' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>

 <xs:group name='PIMediumVideoGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Any physical thing that can store AV media (dvd, film reel)
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name='dvd' type='PIVideoDiskType'/>
   <xs:element name='bluray' type='PIVideoDiskType'/>
   <xs:element name='ultrahd' type='PIVideoDiskType'/>
   <xs:element name='bluray3d' type='PIVideoDiskType'/>
   <xs:element name='hddvd' type='PIVideoDiskType'/>
   <xs:element name='laserdisc' type='PIVideoDiskType'/>
   <xs:element name='vhs' type='PIVideoTapeType'/>
   <xs:element name='beta' type='PIVideoTapeType'/>
  </xs:choice>
 </xs:group>

 <xs:group name='PIMediumAudioGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Any physical thing that can store audio, like a cd.
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name='cd' type='PIAudioDiscType'/>
   <xs:element name='record' type='PIAudioRecordType'/>
   <!-- future enhancement 'musicdvd'? -->
  </xs:choice>
 </xs:group>

 <xs:group name='PIMediumAudioRecordGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Any physical vinyl record.
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name='record' type='PIAudioRecordType'/>
  </xs:choice>
 </xs:group>

 <xs:group name='PIMediumPrintGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Any physical thing that can store print media.
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name='booklet' type='PIPrintPageType'/>
   <xs:element name='insert' type='PIPrintPageType'/>
   <xs:element name='poster' type='PIPrintPageType'/>
   <xs:element name='titleStrip' type='PIPrintPageType'/>
   <xs:element name='codesheet' type='PICodeSheetType'/>
  </xs:choice>
 </xs:group>

 <xs:complexType name='PILayerTwoStorageType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Anything that holds multiple layer one containers, like cases or envelopes.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:group ref='PILayerOneStorageGroup' minOccurs='1' maxOccurs='unbounded'/>
   <xs:group ref='PIMediumPrintGroup' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:group name='PILayerOneStorageGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Anything that direcly holds the media, like a DVD foldcase, or
    a steelbook case.
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name='case' type='PIStorageGenericType'/>
   <xs:element name='snapcase' type='PIStorageSnapCaseType'/>
   <xs:element name='foldcase' type='PIStorageFoldCaseType'/>
   <xs:element name='steelbook' type='PIStorageSteelBookType'/>
   <xs:element name='digibook' type='PIStorageDigiBookType'/>
   <xs:element name='envelope' type='PIStorageEnvelopeType'/>
  </xs:choice>
 </xs:group>

 <xs:group name='PILayerOneStorageAudioGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Anything that can hold audio media, like a vinyl record.
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name='jacket' type='PIStorageAudioRecordType'/>
   <xs:element name='gatefoldJacket' type='PIStorageAudioRecordType'/>
   <!-- maybe also comsider CD jewel case here -->
  </xs:choice>
 </xs:group>

 <xs:group name='PIMediumAnyGroup'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    A special element group that allows for a mixture of
    video, audio, or printed material.
   </xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:group ref='PIMediumVideoGroup'/>
   <xs:group ref='PIMediumAudioGroup'/>
   <xs:group ref='PIMediumPrintGroup'/>
  </xs:choice>
 </xs:group>

 <xs:complexType name='PIStorageGenericType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element: case

    A generic case for medium storage, for when the
    actual type is unknown, or the specifity is unimportant.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:group ref='PIMediumAnyGroup' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
  <xs:attribute name='translucent' type='xs:boolean' use='optional'/>
  <xs:attribute name='color' type='xs:token' use='optional'/>
  <xs:attribute name='slipcover' type='xs:boolean' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIStorageSnapCaseType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element: snapcase

    An older type of DVD case, composed of both plastic and cardboard.  Not commonly used
    anymore, but still can be found in the used DVD market.
   </xs:documentation>
  </xs:annotation>
  <xs:choice minOccurs='1' maxOccurs='unbounded'>
   <xs:group ref='PIMediumVideoGroup' minOccurs='1'/>
  </xs:choice>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIStorageFoldCaseType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element: foldcase

    The most common form of packaging for DVD/Blu-Ray media.  Can come with
    multiple colors, is usually translucent, and can be protected by a slipcover.

    There are variants known as "stacker case" and "multipack case", which
    are designed to hold multiple discs.  They may be included as future
    values later on.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:group ref='PIMediumVideoGroup' minOccurs='1' maxOccurs='unbounded'/>
   <xs:group ref='PIMediumPrintGroup' minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
  <xs:attribute name='translucent' type='xs:boolean' use='optional'/>
  <xs:attribute name='color' type='xs:token' use='optional'/>
  <xs:attribute name='slipcover' type='xs:boolean' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIStorageSteelBookType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element: steelbook

    A type of package capable of holding one or more discs, and optional print
    media.  Can also sometimes come with a slipcover.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:group ref='PIMediumVideoGroup' minOccurs='1' maxOccurs='unbounded'/>
   <xs:group ref='PIMediumPrintGroup' minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
  <xs:attribute name='slipcover' type='xs:boolean' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIStorageDigiBookType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element: digibook

    A hard cardboard case, with a plastic insert for disk storage, also comes with a book
    with supplemental material to read.  Mostly used for special edition Blu-Ray movies.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:group ref='PIMediumVideoGroup' minOccurs='1'/>
   <xs:element name='booklet' type='PIPrintPageType' minOccurs='1'/>
  </xs:sequence>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
  <xs:attribute name='slipcover' type='xs:boolean' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIStorageEnvelopeType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Element: envelope

    A cardboard or paper envelope meant to store a video disc.
   </xs:documentation>
  </xs:annotation>
  <xs:choice minOccurs='1' maxOccurs='unbounded'>
   <xs:group ref='PIMediumVideoGroup'/>
  </xs:choice>
  <xs:attribute name='id' type='xs:NCName' use='optional'/>
 </xs:complexType>

 <xs:complexType name='PIStorageAudioRecordType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    A complex storage type that can accomodate a vinyl record.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:group ref='PIMediumAudioRecordGroup' minOccurs='1' maxOccurs='unbounded'/>
   <xs:group ref='PIMediumPrintGroup' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='ProductInventoryType'>
  <xs:choice minOccurs='1'>
   <xs:element name='box' type='PILayerTwoStorageType' maxOccurs='unbounded'/>
   <xs:group ref='PILayerOneStorageGroup' maxOccurs='unbounded'/>
   <xs:group ref='PILayerOneStorageAudioGroup' maxOccurs='unbounded'/>
  </xs:choice>
 </xs:complexType>

 <xs:annotation>
  <xs:documentation xml:lang='en-US'>
    Types related to media size and weight.

    PDSizeWeightValueType
    PDUnitsType
    PDSizeType
    PDStandardSizeType
    PDWeightType
    ProductDimensionsType

  </xs:documentation>
 </xs:annotation>

 <xs:simpleType name='PDSizeWeightValueType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Values for size and weight must be a positive float value greater than 0.
   </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:float'>
   <xs:minExclusive value='0'/>
  </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name='PDUnitsType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Allowable unit systems when specifying values
    for size and weight of a piece of media.
   </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:token'>
   <xs:enumeration value='usStandard'/>
   <xs:enumeration value='metric'/>
  </xs:restriction>
 </xs:simpleType>

 <xs:complexType name='PDSizeType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    A custom specified size for a piece of media.
   </xs:documentation>
  </xs:annotation>
  <xs:attribute name='length' type='PDSizeWeightValueType' use='required'/>
  <xs:attribute name='width' type='PDSizeWeightValueType' use='required'/>
  <xs:attribute name='height' type='PDSizeWeightValueType' use='required'/>
 </xs:complexType>

 <xs:complexType name='PDStandardSizeType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Representing an assumed standard size for a piece of media.
   </xs:documentation>
  </xs:annotation>
 </xs:complexType>

 <xs:complexType name='PDWeightType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Standard type to record a weight for a piece of media.
   </xs:documentation>
  </xs:annotation>
  <xs:attribute name='value' type='PDSizeWeightValueType' use='required'/>
 </xs:complexType>

 <xs:complexType name='ProductDimensionsType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
     ComplexType for recording the dimensions of a piece of media.

     Size values are determined from the dimensions of the outermost
     container, viewed from above.  Length value is always greater than
     width value.

     Ex: Take a standard blu-ray case, laying flat on a table, the
     length would be 6.75 inches, the width would be 5.4 inches,
     and the height would be 0.4 inches.

     6.75 inches = 170 mm
     5.40 inches = 135 mm
     0.40 inches =  10 mm

     It is assumed the units will be either inches or millimeters,
     which can be specified under the 'units' type.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:choice minOccurs='0' maxOccurs='1'>
    <xs:element name='size' type='PDSizeType'/>
    <xs:element name='standardSize' type='PDStandardSizeType'/>
   </xs:choice>
   <xs:element name='weight' type='PDWeightType' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
  <xs:attribute name='units' type='PDUnitsType' use='optional' default='usStandard'/>
 </xs:complexType>

 <xs:complexType name='ProductSpecsType'>
  <xs:sequence>
   <xs:element name='publisher' type='xs:token' minOccurs='0' maxOccurs='1'/>
   <xs:element name='dimensions' type='ProductDimensionsType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='inventory' type='ProductInventoryType' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='ReleaseType'>
  <xs:sequence>
   <xs:element name='type' type='ProductType' minOccurs='1' maxOccurs='1'/>
   <xs:element name='releaseDate' type='xs:date' minOccurs='0' maxOccurs='1'/>
   <xs:element name='publisher' type='xs:token' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='MediumType'>
  <xs:sequence>
   <xs:element name='release' type='ReleaseType' minOccurs='0'/>
   <xs:element name='productId' type='ProductIdType' minOccurs='0'/>
   <xs:element name='productSpecs' type='ProductSpecsType' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='NoBarcodeType'>
 </xs:complexType>

 <xs:complexType name='BarcodeType'>
  <xs:simpleContent>
   <xs:extension base='xs:string'>
    <xs:attribute name='type' type='xs:string' use='optional'/>
    <xs:attribute name='scanlines' type='xs:boolean' default='true' use='optional'/>
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name='SkuType'>
  <xs:simpleContent>
   <xs:extension base='xs:string'>
    <xs:attribute name='retailer' type='xs:string' use='optional'/>
    <xs:attribute name='type' type='xs:string' use='optional'/>
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name='OtherIdType'>
  <xs:sequence>
   <xs:element name='name' type='xs:token' minOccurs='0' maxOccurs='1'/>
   <xs:element name='value' type='xs:token' minOccurs='1' maxOccurs='5'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='ProductIdType'>
   <xs:sequence>
    <xs:choice minOccurs='1'>
     <xs:element name='nobarcodes' type='NoBarcodeType' maxOccurs='1'/>
     <xs:element name='barcode' type='BarcodeType' maxOccurs='unbounded'/>
    </xs:choice>
    <xs:element name='sku' type='SkuType' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='other' type='OtherIdType' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
 </xs:complexType>


</xs:schema>
