schemas/vtm-mod-visual-crew.xsd

<?xml version='1.0'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' elementFormDefault='qualified'>

 <xs:annotation>
  <xs:documentation xml:lang='en-US'>
    Copyright 2022, Chris Josephes

    This work is licensed under the Creative Commons Attribution-ShareAlike
    4.0 International License. 

    To view a copy of this license, visit 
    http://creativecommons.org/licenses/by-sa/4.0/ or 
    send a letter to 
    Creative Commons 
    PO Box 1866 
    Mountain View, CA 94042, USA.
  </xs:documentation>
 </xs:annotation>

 <xs:include schemaLocation='vtm-mod-generic-pnouns-keywords.xsd'/>
 <xs:include schemaLocation='vtm-mod-generic-crew-types.xsd'/>

 <xs:complexType name='DirectorsType'>
  <xs:sequence>
   <xs:element name='director' type='CrewNameType' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='ProducersType'>
  <!-- UNSTABLE INTERFACE - DO NOT USE -->
  <xs:choice minOccurs='1' maxOccurs='unbounded'>
   <xs:element name='producer' type='CrewNameType'/>
   <xs:element name='execProducer' type='CrewNameType'/>
   <xs:element name='suprProducer' type='CrewNameType'/>
   <xs:element name='asscProducer' type='CrewNameType'/>
   <xs:element name='lineProducer' type='CrewNameType'/>
  </xs:choice>
 </xs:complexType>

 <xs:complexType name='EditorsType'>
  <xs:sequence>
   <xs:element name='editor' type='CrewNameType' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='CinemaphotographersType'>
  <xs:sequence>
   <xs:element name='cinemaphotographer' type='CrewNameType' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='ArtDeptType'>
  <xs:sequence minOccurs='1'>
   <xs:element name='productionDesigner' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='artDirector' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='setDecorator' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='WardrobeDeptType'>
  <xs:sequence minOccurs='1'>
   <xs:element name='costumeDesigner' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='wardrobe' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='CastingType'>
  <xs:sequence minOccurs='1'>
   <xs:element name='director' type='CrewNameType' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='consultant' type='CrewNameType' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='casting' type='CrewNameType' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='MusicType'>
  <xs:sequence minOccurs='1'>
   <xs:element name='composer' type='CrewNameType' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='conductor' type='CrewNameType' minOccurs='0' maxOccurs='unbounded'/>
   <xs:element name='music' type='CrewNameType' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='SourcesType'>
  <xs:sequence>
   <xs:element name='source' type='SourceType' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='SourceType'>
  <xs:sequence>
   <xs:sequence minOccurs='0'>
    <xs:element name='title' type='xs:string' minOccurs='1' maxOccurs='1'/>
    <xs:element name='from' type='xs:string' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:element name='authors' type='SourceAuthorsType' minOccurs='1' maxOccurs='1'/>
  </xs:sequence>
  <xs:attribute name='type' type='SourceMediaType' use='optional'/>
 </xs:complexType>

 <xs:simpleType name='SourceMediaType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Supported types of source media.
   </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:token'>
   <xs:enumeration value='movie'/>
   <xs:enumeration value='screenplay'/>
   <xs:enumeration value='play'/>
   <xs:enumeration value='novel'/>
   <xs:enumeration value='book'/>
   <xs:enumeration value='bookSeries'/>
   <xs:enumeration value='story'/>
   <xs:enumeration value='shortStory'/>
   <xs:enumeration value='comicBook'/>
   <xs:enumeration value='comicBookSeries'/>
   <xs:enumeration value='newsArticle'/>
   <xs:enumeration value='song'/>
   <xs:enumeration value='poem'/>
   <xs:enumeration value='radioShow'/>
   <xs:enumeration value='podcast'/>
   <xs:enumeration value='character'/>
   <xs:enumeration value='characters'/>
  </xs:restriction>
 </xs:simpleType>

 <xs:complexType name='SourceAuthorsType'>
  <xs:sequence>
   <xs:element name='author' type='CrewNameType' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='WritersType'>
  <xs:sequence>
   <xs:element name='writer' type='WriterType' minOccurs='1' maxOccurs='unbounded'/>
   <xs:element name='sources' type='SourcesType' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='WriterType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
    Writers can be specific to either the screenplay, or the story
   </xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base='CrewNameType'>
    <xs:attribute name='role' type='xs:string' use='optional'/>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:complexType name='CharNarratorType'>
 </xs:complexType>

 <xs:complexType name='CharSelfType'>
  <xs:attribute name='archivalFootage' type='xs:boolean' use='optional'/>
  <xs:attribute name='fictionalVariant' type='xs:boolean' use='optional'/>
 </xs:complexType>

 <xs:complexType name='CharacterNameType'>
  <xs:annotation>
   <xs:documentation xml:lang='en-US'>
     See inner documentation examples for name support.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  <xs:choice>
   <xs:element name='title' type='xs:token' minOccurs='1' maxOccurs='1'/>
   <xs:element name='narrator' type='CharNarratorType' minOccurs='1' maxOccurs='1'/>
   <xs:element name='self' type='CharSelfType' minOccurs='1' maxOccurs='1'/>
   <xs:sequence>
    <xs:element name='prefix' type='PNNamePrefixType' minOccurs='0' maxOccurs='1'/>
     <xs:choice>
      <xs:sequence>
       <xs:annotation>
        <xs:documentation xml:lang='en-US'>
          Supported Names In This Sequence:

          (1 ) Jennifer
          (1a) Jennifer 'Mainframe'
          (1a) Jennifer 'Mainframe' Trisha Hoffman
          (1a) Jennifer 'Mainframe' Hoffman
          (1b) Jennifer Trisha Hoffman
          (1c) Jennifer Hoffman 'Mainframe'

        </xs:documentation>
       </xs:annotation>
       <xs:element name='gn' type='xs:token' minOccurs='1' maxOccurs='1'/>
       <xs:choice minOccurs='0'>
        <xs:sequence>
         <xs:element name='nick' type='xs:token' minOccurs='1' maxOccurs='1'/>
          <xs:choice minOccurs='0' maxOccurs='2'>
           <xs:element name='mn' type='xs:token' minOccurs='0' maxOccurs='1'/>
           <xs:element name='fn' type='xs:token' minOccurs='0' maxOccurs='1'/>
          </xs:choice>
        </xs:sequence>
        <xs:sequence>
         <xs:element name='mn' type='xs:token' minOccurs='1' maxOccurs='1'/>
         <xs:element name='nick' type='xs:token' minOccurs='0' maxOccurs='1'/>
         <xs:element name='fn' type='xs:token' minOccurs='0' maxOccurs='1'/>
        </xs:sequence>
        <xs:sequence>
         <xs:element name='fn' type='xs:token' minOccurs='1' maxOccurs='1'/>
         <xs:element name='nick' type='xs:token' minOccurs='0' maxOccurs='1'/>
        </xs:sequence>
       </xs:choice>
      </xs:sequence>
      <xs:sequence>
       <xs:annotation>
        <xs:documentation xml:lang='en-US'>
          Supported Names In This Sequence:

          (2 ) 'Six Fingered' John
          (2 ) 'Six Fingered' John Anthony
          (2 ) 'Six Fingered John Anthony McDouglas

        </xs:documentation>
       </xs:annotation>
       <xs:element name='nick' type='xs:token' minOccurs='1' maxOccurs='1'/>
       <xs:choice maxOccurs='3'>
        <xs:element name='gn' type='xs:token' minOccurs='0' maxOccurs='1'/>
        <xs:element name='mn' type='xs:token' minOccurs='0' maxOccurs='1'/>
        <xs:element name='fn' type='xs:token' minOccurs='0' maxOccurs='1'/>
       </xs:choice>
      </xs:sequence>
      <xs:sequence>
       <xs:annotation>
        <xs:documentation xml:lang='en-US'>
          Supported Names In This Sequence:

          (3 ) Grisham
          (3 ) Grisham 'The Fixer'

        </xs:documentation>
       </xs:annotation>
       <xs:element name='fn' type='xs:token' minOccurs='1' maxOccurs='1'/>
       <xs:element name='nick' type='xs:token' minOccurs='0' maxOccurs='1'/>
      </xs:sequence>
     </xs:choice>
    <xs:element name='suffix' type='PNNameSuffixType' minOccurs='0' maxOccurs='1'/>
    <xs:element name='addendum' type='xs:token' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
  </xs:choice>
  <xs:element name='variant' type='xs:token' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='RoleType'>
  <xs:sequence>
   <xs:element name='actor' type='PNNameType' minOccurs='1' maxOccurs='1'/>
   <xs:element name='as' type='CharacterNameType' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
  <xs:attribute name='billing' type='xs:integer' use='optional'/>
 </xs:complexType>

 <xs:complexType name='CastType'>
  <xs:sequence>
   <xs:element name='role' type='RoleType' minOccurs='1' maxOccurs='unbounded'/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name='CrewType'>
  <xs:sequence>
   <xs:element name='directors' type='DirectorsType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='writers' type='WritersType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='producers' type='ProducersType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='editors' type='EditorsType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='cinemaphotographers' type='CinemaphotographersType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='music' type='MusicType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='artDept' type='ArtDeptType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='wardrobe' type='WardrobeDeptType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='casting' type='CastingType' minOccurs='0' maxOccurs='1'/>
   <xs:element name='cast' type='CastType' minOccurs='0' maxOccurs='1'/>
  </xs:sequence>
 </xs:complexType>


</xs:schema>
